.btn-block{
    width: 100%;
}
body{
    overflow-x: hidden;
}
.user_type{
    text-transform: capitalize;
}
::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  ::-webkit-scrollbar-thumb {
    background: #4154f1;
  }
.online{
    color: #00FF1B;
    margin-left: 5px;
    font-size: 12px;
    display: inline-block;
    transform: translateY(-1px);
}
.flag{
    width: 30px;
    margin-left: 5px;
}
.spin-btn span{
    display: inline-block;
    margin-bottom: -4px;
}
